# Configuration files with potentially keys in it
app.yaml
credentials.json
master.key
.po

# Development environment specific
.DS_Store
stuff.md
/hack
show-*.yaml
episode-*.yaml
/examples

# Binaries
cmd/token/token

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
