service: api

runtime: go114
instance_class: F1

handlers:
- url: /.*
  script: auto
  secure: always

env_variables:
  # google
  PROJECT_ID: 'xoxo'
  LOCATION_ID: 'europe-west3'
  # slack
  SLACK_APP_ID: 'xoxo'
  SLACK_CLIENT_ID: 'xoxo'
  SLACK_CLIENT_SECRET: 'xoxo'
  SLACK_SIGNING_SECRET: 'xoxo'
  SLACK_OAUTH_SCOPE: 'commands,incoming-webhook,team:read'
  # app settings
  BASE_URL: 'https://lnkk.app'
  SHORT_URL: 'https://lnkk.app'
  GIN_MODE: 'release'
