service: api

runtime: go114
instance_class: F1

handlers:
- url: /.*
  script: auto
  secure: always

env_variables:
  # Required Google Cloud
  PROJECT_ID: '<PROJECT_ID>'
  LOCATION_ID: '<LOCATION_ID>'
  DEFAULT_QUEUE: 'worker'
  SERVICE_NAME: 'api'
  
  # Required App Settings
  MASTER_KEY: "52a.."
  REALM: "podops"
  
  # Optional App Settings
  BASE_URL:           'https://podops.dev'
  API_ENDPOINT:       'https://api.podops.dev'
  CDN_ENDPOINT:       'https://cdn.podops.dev'
  REDIRECT_URL:       'https://storage.googleapis.com/cdn.podops.dev'
  BUCKET_UPLOAD:      'upload.podops.dev' 
	BUCKET_PRODUCTION:  'production.podops.dev'
	BUCKET_CDN          'cdn.podops.dev'

  # Other App Settings
  GIN_MODE: 'release'